<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266924527047-u96cidiruo0l84g0afe68obfmr6gltlh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266924527047-u96cidiruo0l84g0afe68obfmr6gltlh</string>
	<key>API_KEY</key>
	<string>AIzaSyCNOkfTHfGHrDI2pYh-lp3_oP5KL_MdZ6c</string>
	<key>GCM_SENDER_ID</key>
	<string>266924527047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Zeepy.com.Zeepy</string>
	<key>PROJECT_ID</key>
	<string>zeepy-2f3a0</string>
	<key>STORAGE_BUCKET</key>
	<string>zeepy-2f3a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266924527047:ios:946e9ad815f00ddb109de2</string>
</dict>
</plist>